modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["sendgrid:1.0.0"]

[userenv]

[userenv.shared]
BREVO_API_KEY1 = "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"
VITE_FIREBASE_AUTH_DOMAIN = "nordic-homebuilding1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "nordic-homebuilding1"
VITE_FIREBASE_STORAGE_BUCKET = "nordic-homebuilding1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "126571617593"
VITE_FIREBASE_APP_ID = "1:126571617593:web:80fcdb36b73a87489b1ce8"
VITE_FIREBASE_MEASUREMENT_ID = "G-P8Q5NL1WH9"
ADMIN_PASSWORD = "Den$Glade!Delfin\"3"
